:root{
    --main-bg-color : #eff5fe;
    --border-color : #81a9be47;
}
body ,html  {
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding:0;
    margin: 0; 
}


body ,.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload-contaier{
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 20px 20px #0000002e;

}
.drop-zone{
    width: 500px;
    min-height: 200px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 20px;
}
.dragged.drop-zone{
    background: var(--border-color);
}
.icon-container{
    position: relative;
    height: 175px;
}
.icon-container img{
    width: 75px;
    position: absolute;
}
.dragged .icon-container center{
z-index: 1;
}
.icon-container .icon-name{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    position: relative;
    margin-top: 100px;
}

/* .icon-container .right{
    transform: rotate(10deg) translateX(10px) scale(.9);
     transform-origin:bottom;
 }
 .icon-container .left{
     transform: rotate(-10deg) translateX(-20px  ) scale(.9);
 } */



 #fileinput{
     display: none;
 }
 .browseBtn{
    color: rgb(78, 207, 240);
    cursor:pointer;


 }